.card {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 30px;
  width: 350px;
  height: 367px;
  background: var(--white);
  box-shadow: var(--card-shadow);
  border-radius: 12px;
}
.card__title {
  font-family: Roboto;
  font-weight: 500;
  font-size: 21px;
  text-align: center;
  color: var(--card-title);
}