.accordion__item {
  padding: 24px 48px 32px 32px;
  margin-bottom: 8px;
  border: 1px solid var(--grey-3);
  border-radius: 8px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--black);
  background-color: var(--white);
}
.accordion__item:last-child {
  margin-bottom: 0;
}
.accordion__summary {
  display: block;
}
.accordion__summary::-webkit-details-marker {
  display: none;
}
.accordion__text {
  margin-top: 16px;
  color: var(--grey-4);
}