.page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip__trigger {
  font-size: 0;
}
.tooltip__trigger:hover {
  cursor: pointer;
}
.tooltip__bubble {
  position: absolute;
  left: 50%;
  bottom: calc(100% + 8px);
  transform: translateX(-50%);
  padding: 13px 21px 8px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--grey-2);
  border-radius: 10px;
  background-color: var(--bubble-bg);
  box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
  display: none;
  white-space: nowrap;
}
.tooltip__bubble::before {
  content: "";
  border: 6px solid transparent;
  border-top-color: var(--bubble-bg);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.tooltip__trigger:hover ~ .tooltip__bubble {
  display: block;
}