.footer {
  padding: 71px 0 136px;
}
.wrapper {
  margin: 0 auto;
  max-width: 640px;
}
.footer__title {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 38px;
  line-height: 48px;
  text-align: center;
  color: var(--black);
}
.footer__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--black);
}