.footer {
  padding: 71px 383px 136px 417px;
}
.footer__title {
  margin: 0;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 38px;
  line-height: 48px;
  text-align: center;
  color: var(--black);
}
.footer__text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--black);
}