.page {
  display: grid;
  grid-template-rows:  auto 1fr auto;
  min-height: 100vh;
}
.main {
  display: grid;
  grid-template-columns: 229px 1fr;
  gap: 56px;
  padding: 0;
}
.footer {
  display: flex;
  justify-content: center;
}
.footer__title {
  margin: 0;
  font-family: Inter;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--grey-3);
}